<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button><a th:href="@{/space/create}">Create</a></button>
<button><a href=""></a></button>
<table>
    <tr>
        <th>STT</th>
        <th>Space_Id</th>
        <th>Status</th>
        <th>Price</th>
        <th>Image</th>
        <th>Description</th>
        <th>Category_name</th>
        <th>Detail</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="st,it:${spaces}" th:object="${st}">
        <td th:text="${it.count}"></td>
        <td th:text="*{id}"></td>
        <td th:text="*{status}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{image}"></td>
        <td th:text="*{description}"></td>
        <td th:text="*{categorySpace.getCategoryName()}"></td>
        <td><button><a th:href="@{/space/detail/{id}(id=${st.id})}">Detail</a></button> </td>
        <td><button><a th:href="@{/space/update/{id}(id=${st.id})}">Edit</a></button> </td>
        <td><button><a th:href="@{/space/delete/{id}(id=${st.id})}">Delete</a></button> </td>
    </tr>
</table>
</body>
</html>